No. 1

In [18]:
buah = ['apel','mangga','jeruk','anggur','pisang']
print(f'{buah}\n')

# a. Tambahkan 'semangka' di akhir list
buah.append('semangka')
print(f'Menambahkan semangka: {buah}\n')

# b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
buah.insert(3,'durian')
print(f'Menyisipkan durian: {buah}\n')

# c. Hapus 'mangga' dari list
buah.remove('mangga')
print(f'Menghapus mangga: {buah}\n')

# d. Ubah 'pisang' menjadi 'nanas'
buah[4] = 'nanas'
print(f'Pisang menjadi nanas: {buah}\n')

# e. Tampilkan 3 buah pertama
x = buah[:3]
print(f'3 buah pertama: {x}\n')

['apel', 'mangga', 'jeruk', 'anggur', 'pisang']

Menambahkan semangka: ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']

Menyisipkan durian: ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

Menghapus mangga: ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

Pisang menjadi nanas: ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']

3 buah pertama: ['apel', 'jeruk', 'durian']

No. 2

In [19]:
angka = [45, 12, 78, 23, 56, 89, 34]
print(f'{angka}\n')

# a. Urutkan list secara ascending
angka.sort()
print(f'List ascending: {angka}\n')

# b. Urutkan list secara descending
angka.reverse()
print(f'List descending: {angka}\n')

[45, 12, 78, 23, 56, 89, 34]

List ascending: [12, 23, 34, 45, 56, 78, 89]

List descending: [89, 78, 56, 45, 34, 23, 12]